<mat-toolbar color="primary" class="toolbar">
  <span>
    <button mat-button routerlink="/">
      <strong>{{title}}</strong>
    </button>
  </span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <!-- <button mat-button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      LogOut
    </button> -->
    <!-- <button>
      <mat-icon routerLink="/home">power_settings_new</mat-icon>
      Play
    </button> -->
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>Home
  </button>
  <button mat-menu-item routerLink="/home">
    <mat-icon>power_settings_new</mat-icon>Play
  </button>
  <button mat-menu-item routerLink="/">
    <mat-icon>power_settings_new</mat-icon>Login
  </button>
  <!--  <button mat-button (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    LogOut
  </button> -->
</mat-menu>
<router-outlet></router-outlet>